@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /*Essas debaixo são tipo um padrão, tirando margens e espaçamento*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #000;
    color: #fff;
}

a, a:hover, a:visited {
    color: unset; /*pra não ter mudança de cor depois de clicar*/
    text-decoration: none; /*pra não aparecer o sublinhado*/
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;/*quando ficar menor que 900, ele ocupará 100%*/
    margin: 0 auto; /*M.A.C.E.T.E pra alinhar a div ao CENTRO*/
}

#sales {
    padding: 40px 10px;
}
